{% load static %}
     <!-- Main content -->
        <section>

                 <img src="{% static 'images/banho_tosa.png' %}" width="280px" height="226px" class="pull-left" />
                 <img src="{% static 'images/poodle.png' %} "class="pull-right" />
                <h1>Tragam seus bichinhos para cá!!!</h1>
        </section>

      <div class="container">
       <div id="crsl" class="carousel slide" data-ride="carousel">
           <ol class="carousel-indicators">
               <li data-target="#crsl" data-slide-to="0" class="active"></li>
               <li data-target="#crsl" data-slide-to="1"></li>
               <li data-target="#crsl" data-slide-to="2"></li>
           </ol>
            <div class="carousel-inner">
                <div class="item active"><img src="{% static 'images/l1.jpg' %}"/></div>
                <div class="item"><img src="{% static 'images/l2.jpg' %}"/></div>
                <div class="item"><img src="{% static 'images/l3.jpg' %}"/></div>
            </div>

            <a class="left carousel-control" href="#crsl"  data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#crsl"  data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
       </div>
    </div>



