{% load static %}
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{% static 'images/banho_tosa.png' %}" width="184px" height="178px"/></a>

            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Trabalhos</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </div>

    </nav>
</header>